service: mes-custom-authoriser

provider:
  name: aws
  runtime: nodejs18.x
  environment:
    DDB_OFFLINE_ENDPOINT: http://localhost:8000
    AZURE_AD_TENANT_ID: 6c448d90-4ca1-4caf-ab59-0a2aa67d7801
    AZURE_AD_CLIENT_ID: 09fdd68c-4f2f-45c2-be55-dd98104d4f74
    USERS_DDB_TABLE_NAME: users
    AWS_REGION: eu-west-1

package:
  individually: true

functions:
  authoriser:
    handler: src/functions/authoriser/framework/handler.handler

custom:
  dynamodb:
    start:
      port: 8000
      inMemory: true
      migrate: true
      seed: true
    seed:
      test:
        sources:
          - table: users
            sources: [./test-data/dynamo-seed-users.json]
  webpack:
    webpackConfig: 'webpack-sls-offline.config.js'

resources:
  Resources:
    usersDocuments:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_DDB_TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: staffNumber
            AttributeType: S
        KeySchema:
          - AttributeName: staffNumber
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5

plugins:
  - serverless-webpack
  - serverless-dynamodb
  - serverless-offline
  - serverless-dotenv-plugin
